HelloWorld/docs/.vuepress/dist
HelloWorld/node_modules
HelloWorld/yarn.lock

CustomStyle/docs/.vuepress/dist
CustomStyle/node_modules
CustomStyle/yarn.lock

Plugins01/docs/.vuepress/dist
Plugins01/node_modules
Plugins01/yarn.lock

favicon/docs/.vuepress/dist
favicon/node_modules
favicon/yarn.lock

katex/docs/.vuepress/dist
katex/node_modules
katex/yarn.lock